.container {
  padding: 1rem 2rem;
}

.logo {
  max-height: 50px;
}

.homePageTitle {
  color: green;
}

.stikyHeader {
  position: fixed;
  background-color: #1c1c1c;
  width: 100%;
  padding: 10px;
  text-align: center;
  top: 80px;
}
